<!doctype html>
<html>
  <head>
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no"/>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  	<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  	<script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  	<script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>
  	<link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <script type="text/javascript"
      src="https://maps.googleapis.com/maps/api/js?key={{API_KEY}}&sensor=false">
    </script>

    <style>
		.button_color{
			background-color: lightblue;
			margin-left: 5px;
		}
		.search_top_text{
			margin-left: 5px;
			margin-right: 5px;
			text-align: center;
		}

	</style>

    {% block head %} {% endblock %}
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">

			<div class="navbar-header">
				<a class="navbar-brand" href="#">NYC POC-owned Business Finder</a>
			</div>

			<ul class="nav navbar-nav">
				<li class="nav-link active"><a href="http://127.0.0.1:5000/">Home</a></li>
				<li class="nav-link active"><a href="http://127.0.0.1:5000/create">Create</a></li>
			</ul>
			<div class="form-inline">
				<div class="form-group">
					<input class="form-control mx-sm-2" size="40" id="top_search_input" placeholder="Search by Name or Borough">
				</div>
				<button class="btn btn-outline-success my-2 my-sm-0" id="top_submit_button"> Go </button>
			</div>

	</nav>

    <div class=container>
    {% block body %}
    {% endblock %}
    </div>
  </body>
</html>
