{% extends "base.html" %}

{% block content %}
<div >
	<script type="text/javascript" src="{{ url_for('static', filename = 'create.js') }}"></script>
	<script type="text/javascript">
	 	var suggestionlist = {{suggestionlist|tojson}}
    </script>

    <style >
    	# name{
			font - size: 25px;
			padding: 20px;
			justify - content: center;
			background - color: whitesmoke;
			margin - top: 20px;
			margin - bottom: 20px;
		}
		.pad{
			margin-bottom: 8px;
			margin-top: 8px;
		}
		.extrapad{
			margin-top: 13px;
			margin-bottom: 13px;
		}
		.red_warn{
			color:red;
			font-weight: bold;
		}
		.right{
			text-align: right;
		}
		# submit_button{
			background-color: dodgerblue;
			color: white;
			padding-left: : 8px;
			padding-right: 8px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		.red_mini{
			color: red;
		}
		.blue_success{
			color: dodgerblue;
			font-weight: bold;
		}
		.outline{
			border: 1px solid black;
		}
		.red_location{
			color: red;
			font-size: 11px;
		}
    </style>
    <div class="row" id="name">
			Add a Shop:
		</div>

		<div class="row pad">
			<div class="col-md-3"></div>
			<div class="col-md-9" id="top_warn"></div>
		</div>
		<div class="row pad">
			<div class="col-md-3 right">
				Name:
			</div>

			<div class="col-md-6">
				<input name="name_entry" rows="1" placeholder="Name of Restaurant" id="name_entry" class="form-control"></input>
			</div>


			<div class="col-md-3 red_mini" id="name_warn"></div>

		</div>

		<div class="row pad">
			<div class="col-md-3 right">
				Type:
			</div>
			<div class="col-md-6">
				<input name="img_entry" rows="1" placeholder="What type of business?" id="type_entry" class="form-control"></input>
			</div>
			<div class="col-md-3 red_mini" id="type_warn"></div>
		</div>

		<div class="row pad">
			<div class="col-md-3 right">
				Service:
			</div>
			<div class="col-md-6">
				<input name="text_entry" rows="1" placeholder="Service" id="service_entry" class="form-control"></input>
			</div>
			<div class="col-md-3 red_mini" id="service_warn"></div>
		</div>


		<div class="row pad">
			<div class="col-md-3 right">
				Borough:
			</div>

			<div class="col-md-6">
				<input name="location_entry" rows="1" placeholder="Borough" id="location_entry" class="form-control"></input>
			</div>


			<div class="col-md-3" id="location_warn"></div>
		</div>


		<div class="row pad">
			<div class="col-md-3 right">
				Website Address:
			</div>
			<div class="col-md-6">
				<input name="rating_entry" rows="1" placeholder="Website address" id="web_entry" class="form-control"></input>
			</div>
			<div class="col-md-3 red_mini" id="web_warn"></div>
		</div>


		<div class="row pad">
			<div class="col-md-3 right">
				Image:
			</div>
			<div class="col-md-6">
				<input name="img_entry" rows="1" placeholder="Copy jpeg of Image Here" id="img_entry" class="form-control"></input>
			</div>
			<div class="col-md-3 red_mini" id="img_warn"></div>
		</div>


		<div class="row pad">
			<div class="col-md-3 right"></div>
			<div class="col-md-9">
				<button id="submit_button"> Submit </button>
			</div>
		</div>

</div>
{% endblock %}
