{% extends "base.html" %}

{% block content %}
<div>

	<script type="text/javascript" src="{{ url_for('static', filename = 'index.js') }}"></script>
	<style>
		.outline{
			border: 1px solid black;
		}
		.inline{
			display: inline-block;
		}
		.bottom_pad{
			padding-bottom: 10px;
		}

		#name{
			font-size: 40px;
			padding: 30px;
			background-color: whitesmoke;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#submit_button{
			background-color: dodgerblue;
			color: white;
			padding-left: : 8px;
			padding-right: 8px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		.top_pad{
			margin-top: 50px;
			position: relative;
		}
		.delete_button{
			color: red;
		}
		.bold{
			font-weight: bold;
		}
		.row_outline{

		}
		.pad_entry{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.centered{
			text-align: center;
		}
		.row_outline:hover{
			background-color: whitesmoke;
			cursor: pointer;
			border: 3px solid dodgerblue;
		}
		.red{
			color: red;
		}
		.grey{
			color: grey;
		}
		.card-deck {
		    display: grid;
		    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
		    grid-gap: .5rem;
				position: absolute;
				width: 60%;
		}
</style>
<script>
      let map;

      function initMap() {
        map = new google.maps.Map(document.getElementById("map"), {
          center: { lat: 40.8045, lng: -73.9572 },
          zoom: 8,
        });
      }
    </script>

		<div id="name" class="row">
			ShopPoc
		</div>
		<div class="bottom_pad grey">
			Find small, black-owned and POC-owned businesses in New York City to shop
		</div>

		<div class="top_pad" id="results">
		</div>

		<div id="map" style="width: 40%; height: 600px; position: relative; float: right; overflow: hidden;"> </div>

</div>

{% endblock %}
