{% extends "base.html" %}

{% block content %}
<div>

	<script type="text/javascript">
	 	var bizlist = {{bizlist|tojson}}
	 	var returnlist = {{returnlist|tojson}}
	 	var searchlist = {{searchlist|tojson}}
	 	var searchterm ={{searchterm|tojson}}
    </script>
	<script type="text/javascript" src="{{ url_for('static', filename = 'js/matches.js') }}"></script>
	<style>
		.outline{
			border: 1px solid black;
		}
		.inline{
			display: inline-block;
		}
		.bottom_pad{
			padding-bottom: 10px;
		}

		#name{
			font-size: 40px;
			padding: 30px;
			background-color: whitesmoke;
			margin-top: 20px;
			margin-bottom: 20px;
		}

		#submit_button{
			background-color: dodgerblue;
			color: white;
			padding-left: : 8px;
			padding-right: 8px;
			padding-top: 6px;
			padding-bottom: 6px;
		}
		.top_pad{
			margin-top: 50px;
		}
		.delete_button{
			color: red;
		}
		.bold{
			font-weight: bold;
		}
		.row_outline{

		}
		.pad_entry{
			padding-top: 10px;
			padding-bottom: 10px;
		}
		.centered{
			text-align: center;
		}
		.row_outline:hover{
			background-color: whitesmoke;

			cursor: pointer;
			border: 3px solid dodgerblue;
		}
		.red{
			color: red;
		}
		.grey{
			color: grey;
		}
		.card-deck {
		    display: grid;
		    grid-template-columns: repeat(auto-fit, minmax(300px, 300px));
		    grid-gap: .5rem;
		}
		.yellow{
			background-color: gold;
		}
</style>

		<div id="name" class="row">
		</div>
		<!--
		<div class="bottom_pad grey">
			To help taco-lovers find highly-rated tacos places in any borough of New York City
		</div>
		<div class="bottom_pad">
			Search:
		</div>
		<div class="bottom_pad">
			<input name="search" rows="1" placeholder="Search by Borough (i.e. Manhattan, Queens, the Bronx, etc.)" id="search_input" class="form-control"></input>
		</div>
		<div class="bottom_pad">


			<button id="submit_button"> Submit </button>
		</div>
	-->

		<div class="top_pad" id="numberofresults"></div>
		<div class="top_pad" id="results">
		</div>
</div>



{% endblock %}
